@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}



/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
}


.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  font-size: 24px;
}

.spacing {
  flex: 1;
  margin-left: 25%;
  margin-top: 20vh;
}

.folder {
  margin-left: 10px;
}

.folder-title {
  cursor: pointer;
}

.file-name {
  /* margin: 0;
  padding: 0; */
  margin-left: 15px;
}


.ce-header {
  font-size: revert;
  font-weight: revert;
}


.codex-editor__redactor {
  padding-bottom: 50px !important;
}

.my-config {
  --cfg-pubkey: "2123fd9247f051556277";
  --cfg-img-only: 1;
  --cfg-multiple: 0;
  --cfg-max-local-file-size-bytes: 5242880;
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
  /* --cfg-thumb-size:	400; */
  --borders: 1;
  --border-radius-element: 3px;
  --border-radius-frame: 3px;
  /* --ui-size: 50px */
}