@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

.walkthrough pre {
  overflow: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #afafaf;
}


.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  font-size: 24px;
}

.spacing {
  flex: 1;
  margin-left: 25%;
  margin-top: 20vh;
}

.folder {
  margin-left: 10px;
}

.folder-title {
  cursor: pointer;
}

.file-name {
  /* margin: 0;
  padding: 0; */
  margin-left: 15px;
}


.ce-header {
  font-size: revert;
  font-weight: revert;
}


.codex-editor__redactor {
  padding-bottom: 50px !important;
}

.my-config {
  --cfg-pubkey: "2123fd9247f051556277";
  --cfg-img-only: 1;
  --cfg-multiple: 0;
  --cfg-max-local-file-size-bytes: 5242880;
  --darkmode: 0;
  --h-accent: 223;
  --s-accent: 100%;
  --l-accent: 61%;
  /* --cfg-thumb-size:	400; */
  --borders: 1;
  --border-radius-element: 3px;
  --border-radius-frame: 3px;
  --cfg-remove-copyright: 1;
  /* --ui-size: 50px */
}

.polka-background {
  background-color: #ffffff;
  /* opacity: 0.7; */
  background-image: radial-gradient(#b8c0fd 1.35px, #e5e5f7 1.35px);
  background-size: 27px 27px;
}


.readme_content h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.readme_content h2 {
  font-size: 20px;
  font-weight: bold;
}

.readme_content h3 {
  font-size: 16px;
  font-weight: bold;
}

.readme_content p {
  margin: 10px 0 10px 0;
}

.readme_content a {
  color: blue;
  text-decoration: none;
}

.readme_content img {
  max-width: 100%;
}

.readme_content ul {
  padding: 20px;

  list-style-type: square;
  list-style-position: outside;
  margin-left: 20px;
  padding-left: 20px;
}






.progressbar-wrapper {
  position: relative;
  z-index: 1;
}

.progressbar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e9f1f9;
  z-index: -1;
}

.uploader-filename {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 0px;
}


.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards
}

.checkmark {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0
  }
}

@keyframes scale {

  0%,
  100% {
    transform: none
  }

  50% {
    transform: scale3d(1.1, 1.1, 1)
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142
  }
}